
.btn-listas{
    background: linear-gradient(#fd8e00, #edc42f);
    padding: 5px 10px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 25px;
}

.contenedor-agregados{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100px;
}

.objeto-agregado{
    background: linear-gradient(#fd8e00, #edc42f);
    padding: 5px 10px;
    font-weight: bold;
    font-size: 10px;
    border: none;
    border-radius: 25px;
    margin-bottom: 5px;
    margin-right: 12px;
    cursor: pointer;
    display: flex;
}

/* lg applies to medium devicestablets, less than 992px*/
@media (max-width: 1199.98px) { 
    .objeto img{
        width: 80%;
    }
}

/*`md` applies to small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
    .objeto img{
        width: 40%;
    }
}

