@media (min-width: 991.98px) { 
    .centrar-div2{
        flex-direction: column;
    }
}

@media (max-width: 650.98px) { 
    .centrar-div2{
        flex-direction: column;
    }
}

.active{
    background: linear-gradient(#1c1c1c, #72716d);
    color: white;
}
