body{
    background-image: url('../img/background.jpeg');
    font-family: 'Ubuntu', sans-serif;
    padding: 30px 50px;
    color: #000;
}

.apartado{
    background: linear-gradient(#fd8e00, #edc42f);
    padding: 10px;
    border-radius: 25px;
    margin: 1rem;
    box-sizing: border-box;
    box-shadow: 9px 10px 11px #000
}

.apartado img{
    width: 60%;
}

a{
    text-decoration: none;
    color: #000;
}

.contenedor-principal{
    background-color: #000;
    height: 35rem;
    margin: 0 20px;
    padding: 0;
    border-radius: 25px;
}

.contenedor-lista{
    height: 27rem;
}

.header{
    background-color: #fd8d07ff;
    padding: 10px 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

p{
    margin: 0;
}

.objeto{
    background-color: white;
    border-radius: 10px;
    margin: 15px 20px;
    margin-bottom: 0;
    padding: 10px;
}

.objeto img{
    width: 100%;
    margin: 10px;
}

.objeto .text-end i{
    cursor: pointer;
}

.id-style{
    color: #fd8d07ff;
    font-size: 35px;
}

.centrar-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centrar-div2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-end-div{
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.text-end-div2{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.btn-default{
    background: linear-gradient(#fd8e00, #edc42f);
    padding: 5px 10px;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 40px 10px 10px;
    border: none;
    border-radius: 25px;
}

.btn-close1{
    background: linear-gradient(#1c1c1c, #72716d);
    padding: 5px 10px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    color: white;
}

.contenedor-inputs{
    margin: 10px 15px;
    box-sizing: border-box;
    color: #000;
    height: 30rem;
    overflow-y: auto;
    overflow-x: hidden;
}

#imagen-empresa, #imagen-producto{
    width: 90%;
    border-radius: 20px;
    margin:10px 0;
    background-color: white;
    height: 170px;
}

#imagen-empleado{
    width: 100%;
}

.input-default{
    margin-top: 15px;
    border: 0;
}

.form-control:focus {
    box-shadow: none;
    border-color: transparent;
}

.verificacion{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 20px;
    position: absolute;
    right: 20px;
    top: 50px;
}

.h5, .h4, .h3, .h1, .h6{
    margin: 0;
}

@media (max-width: 1250px) { 
    body{
        background-image: url('../img/background2.avif');
    }
}

@media (max-width: 767.98px){ 
    .objeto img{
        width: 50%;
    }
}

@media (max-width: 650.98px) { 
    body{
        background-image: url('../img/backgroundTelefono.jpeg');
    }
}

